.container.marketing
  .row.center-me
    .col-lg-4
      %img.img-circle{:alt => "Capybara", :src => "http://www.pets4homes.co.uk/images/articles/1879/large/can-you-keep-a-capybara-as-a-pet-53c9342de1d5e.jpg", :style => "width: 140px; height: 140px;"}
        %h2 Capybara
        %p Tastier than your favorite testing suite.
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Order Now
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Mammoth", :src => "http://bit.ly/RjP9kf", :style => "width: 140px; height: 140px;"}
        %h2 Wooly Mammoth
        %p Aged to perfection.
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Order Now
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Whale", :src => "https://c1.staticflickr.com/7/6025/6203535314_687f71eceb_z.jpg", :style => "width: 140px; height: 140px;"}
        %h2 Humpback Whale
        %p Catch of the day.
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Order Now
    / /.col-lg-4
