.container.marketing
  .row.center-me
    .col-lg-4
      %img.img-circle{:alt => "Quality", :src => "http://media-cache-ak0.pinimg.com/736x/28/f3/ef/28f3eff2c9390710879f6664b75d18f9.jpg", :style => "width: 140px; height: 140px;"}
        %h2 SLEEP BETTER
        %p cheaper & better than a hotel
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Discover How
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Fav", :src => "http://newshousedesign.com/wp-content/uploads/2010/07/Fish-House-in-Singapore-by-Guz-Architects-2.jpg", :style => "width: 140px; height: 140px;"}
        %h2 OUR FAVORITES
        %p see some of our most exclusive listings
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} View Gallery
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "List", :src => "http://usfinancepost.com/wp-content/uploads/2014/06/house-for-rent.jpg", :style => "width: 140px; height: 140px;"}
        %h2 BECOME A HOST
        %p earning money couldn't be easier
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Find Out How
    / /.col-lg-4
