<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="http://www.pets4homes.co.uk/images/articles/1879/large/can-you-keep-a-capybara-as-a-pet-53c9342de1d5e.jpg" alt="Capybara" style="width: 140px; height: 140px;">
      <h2>Capybara</h2>
      <p>Tastier than your favorite testing suite.</p>
      <p><a class="btn btn-default" href="#" role="button">Order Now</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="http://www.cecwisc.org/wp-content/uploads/2013/05/Woolly-Mammoth-1.jpg" alt="Mammoth" style="width: 140px; height: 140px;">
      <h2>Wooly Mammoth</h2>
      <p>Aged to perfection.</p>
      <p><a class="btn btn-default" href="#" role="button">Order Now</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://c1.staticflickr.com/7/6025/6203535314_687f71eceb_z.jpg" alt="Whale" style="width: 140px; height: 140px;">
      <h2>Humpback Whale</h2>
      <p>Catch of the day.</p>
      <p><a class="btn btn-default" href="#" role="button">Order Now</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
