.container.marketing
  .row.center-me
    .col-lg-4
      %img.img-circle{:alt => "Quality", :src => "http://media-cache-ak0.pinimg.com/736x/28/f3/ef/28f3eff2c9390710879f6664b75d18f9.jpg", :style => "width: 140px; height: 140px;"}
        %h2 BETTER THAN A HOTEL
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Discover the Difference
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Fav", :src => "http://newshousedesign.com/wp-content/uploads/2010/07/Fish-House-in-Singapore-by-Guz-Architects-2.jpg", :style => "width: 140px; height: 140px;"}
        %h2 OUR FAVORITES
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} See Some of Our Most Exclusive Listings
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "List", :src => "http://usfinancepost.com/wp-content/uploads/2014/06/house-for-rent.jpg", :style => "width: 140px; height: 140px;"}
        %h2 BECOME A HOST
        %p
          %a.btn.btn-default{:href => "#", :role => "button"} Find Out How
        %p
    / /.col-lg-4
