.nav-navbar.navbar-inverse
  .container
    .navbar-wrappper.navbar-inverse
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#"} Endangered Eats
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{"data-toggle" => "modal", href: "#signup"} Signup
        %li
          %a{"data-toggle" => "modal", href: "#login"} Login

-# #login.modal.fade
-#   .modal-dialog
-#     .modal-content
-#       .modal-header
-#         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
-#         %h3.modal-title Login
-#       .modal-body
-#         .form-group
-#           %label{:for => "exampleInputEmail1"} Email address
-#           %input#exampleInputEmail1.form-control{:placeholder => "Enter email", :type => "email"}
-#         .form-group
-#           %label{:for => "exampleInputPassword1"} Password
-#           %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}
-#         %p.text-right
-#           %a{:href => "#"} Forgot password?
-#       .modal-footer
-#         %a.btn{"data-dismiss" => "modal", :href => "#"} Close
-#         %a.btn.btn-primary{:href => "#"} Login

#signup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title Signup
      .modal-body
        .form-group
          %label{:for => "exampleInputFullName"} Full Name
          %input#exampleInputEmail1.form-control{:placeholder => "Full name", :type => "name"}
        .form-group
          %label{:for => "exampleInputEmail1"} Email address
          %input#exampleInputEmail1.form-control{:placeholder => "Enter email", :type => "email"}
        .form-group
          %label{:for => "exampleInputaddress"} Physical Address
          %input#exampleInputEmail1.form-control{:placeholder => "Address", :type => "address"}
        .form-group
          %label{:for => "exampleInputPassword1"} Password
          %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}
      .modal-footer
        %a.btn{"data-dismiss" => "modal", :href => "#"} Close
        %a.btn.btn-primary{:href => "#"} Signup
