.navbar.navbar-wrapper.navbar-inverse.navbar-static-top
  %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

    %a.navbar-brand{:href => "#"} Endangered Eats
  %form.navbar-form.navbar-right{:role => "form"}
    .form-group
      %input.form-control{:placeholder => "Email", :type => "text"}
    .form-group
      %input.form-control{:placeholder => "Password", :type => "password"}
    %button.btn.btn-primary{:type => "submit"} Sign in
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "#"} Home
      %li
        %a{:href => "#about"} About
      %li
        %a{:href => "#contact"} Contact
