.container.dash-buttons
  = link_to "View Menu Items", admin_items_path, role: "button", :class => "btn btn-primary btn-lg btn-block"
  = link_to "View Orders", admin_orders_path, role: "button", :class => "btn btn-primary btn-lg btn-block"
  = link_to "Create New Item", new_admin_item_path, role: "button", :class => "btn btn-primary btn-lg btn-block"
  = link_to "Create New Category", new_admin_category_path, role: "button", :class => "btn btn-primary btn-lg btn-block"
