%li= link_to "View Menu Items", admin_items_path
%li= link_to "View Orders", admin_orders_path
%li= link_to "Create New Item", new_admin_item_path
%li= link_to "Create New Category", new_admin_category_path
