.row
  .col-md-2
  .col-md-8
    .profile-photo 
      %br/
      %br/
      %br/
      %br/
      [ Avatar placeholder! ]
    .profile-info
      =@user.first_name
      =@user.last_name
      %br/
      =@user.city
      =@user.state
      %br/
    .member-since
      %strong Member since:
      %br/
      =@user.created_at.strftime("%B %d, %Y")
    .profile-items-title
      %strong= @user.first_name
      %strong>'s Listings
    .profile-items
      -if @user.items.any?
        -@user.items.each do |item|
          =link_to item.title, item_path(item)
      -else
        %p
          No listings yet!
  .col-md-2

/ .container-fluid
/   %h1.page-header= "Hello, #{current_user.first_name.capitalize}! Welcome to your Account Dashboard!"
/   .row.placeholders
/     .col-xs-6.col-sm-4.placeholder
/       %img.img-responsive{:alt => "Generic placeholder thumbnail", :src => "http://static.pexels.com/wp-content/uploads/2014/05/girl-hair-meadow-403.jpg"}/
/       %h4= link_to "Profile"
/       %span.text-muted Manage account info
/     .col-xs-6.col-sm-4.placeholder
/       %img.img-responsive{:alt => "Generic placeholder thumbnail", :src => "http://static.pexels.com/wp-content/uploads/2014/08/bed-lamp-room-2643.jpg"}/
/       %h4= link_to "Host", listings_user_path(current_user)
/       %span.text-muted Manage your listings
/     .col-xs-6.col-sm-4.placeholder
/       %img.img-responsive{:alt => "Generic placeholder thumbnail", :src => "http://static.pexels.com/wp-content/uploads/2014/07/airport-amsterdam-arrival-2069.jpg"}/
/       %h4= link_to "Traveler"
/       %span.text-muted Manage your trips

/ = link_to "Create your first listing", new_admin_item_path
