.container
  %h1 Enter Payment Info & Submit Booking Requests
  %h4 *Your credit card will not be charged until all of your requests have been confirmed or denied, and you complete your order.

.container
  %h3.form-signin-heading Enter Payment & Billing Information
  %form.form-horizontal{:role => "form"}
  .form-group
    %label.col-sm-2.control-label{:for => "inputEmail3"} Name on Card:
    .col-sm-10
      %input#inputEmail3.form-control{:placeholder => "Enter name as it appears on card"}/
  .form-group
    %label.col-sm-2.control-label{:for => "inputPassword3"} Billing Adress:
    .col-sm-10
      %input#inputPassword3.form-control{:placeholder => "Street address, City, ST, Zipcode"}/
  .form-group
    %label.col-sm-2.control-label{:for => "inputPassword3"} Credit Card Number:
    .col-sm-10
      %input#inputPassword3.form-control{:placeholder => "XXXX XXXX XXXX XXXX"}/
  .form-group
    %label.col-sm-2.control-label{:for => "inputPassword3"} Expiration Date:
    .col-sm-10
      %input#inputPassword3.form-control{:placeholder => "MM/YY"}/
  .form-group
    .col-sm-offset-2.col-sm-10
  .form-group
    .col-sm-offset-2.col-sm-10

  %br
  %br
  %br

  %h3 Quick Sum Up
  %table.table.table-striped
    %thead
      %tr
        %th Location
        %th Check In
        %th Check Out
    %tbody
      -order.items.each do |item|
        %tr
          %td #{item.title}
          %td.check-in #{order_item(item).checkin_date}
          %td.check-out #{order_item(item).checkout_date}

  %br

  =link_to "Everything good? Submit requests.", requested_path, class: 'btn btn-success btn-block'
  %%br
