#sidebar.sidebar-offcanvas.no-gutter{:role => "navigation"}
  .list-group
    %a.list-group-item.active Find Your Perfect Place:
    .container-fluid
      .row
        %ul.nav.nav-sidebar
          %li.active
            %br
            %p Location:
            %input#location{ :type => "text", :value => '', :placeholder => 'City' }
          %li
            %p Available Dates:
            %input{type: "date", name: "checkin", class: "date-picker"}
            %input{type: "date", name: "checkout", class: "date-picker"}

          %p Price:
          .btn-group.price
            %button.btn.btn-default{:type => "button", :price => 1200 } $
            %button.btn.btn-default{:type => "button", :price => 2000 } $$
            %button.btn.btn-default{:type => "button", :price => 3300 } $$$
            %button.btn.btn-default{:type => "button", :price => 177600 } $$$$
          %br
          %br
          %p People Per Unit:
          .btn-group.people_per_unit
            %button.btn.btn-default{:type => "button", :people_per_unit => 1 } 1
            %button.btn.btn-default{:type => "button", :people_per_unit => 2 } 2
            %button.btn.btn-default{:type => "button", :people_per_unit => 3 } 3
            %button.btn.btn-default{:type => "button", :people_per_unit => 4 } 4
            %button.btn.btn-default{:type => "button", :people_per_unit => 5 } 5
          %p

          -# .dropdown.people_per_unit
          -#   %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          -#     People per Unit
          -#     %span.caret
          -#   %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
          -#     %li{:role => "presentation", :id => 1}
          -#       %p{ :role => "menuitem", :tabindex => "-1"} 1   person
          -#     %li{:role => "presentation", :id => 2}
          -#       %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 2 + people
          -#     %li{:role => "presentation", :id => 3}
          -#       %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 3 + people
          -#     %li{:role => "presentation", :id => 4}
          -#       %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 4 + people
          -#     %li{:role => "presentation", :id => 5}
          -#       %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 5 + people
          -#     -# %li.divider{:role => "presentation"}
          -#     %li{:role => "presentation", :id => 6}
          -#       %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 6 + people

          %br
          %p Accommodations:
          .btn-group-vertical.accommodations
            %button.btn.btn-default{:type => "button", :accommodation => "Whole Place"} Whole Place
            %button.btn.btn-default{:type => "button", :accommodation => "Private Room"} Private Room
            %button.btn.btn-default{:type => "button", :accommodation => "Shared Room"} Shared Room
            %button.btn.btn-default{:type => "button", :accommodation => "Couch"} Couch
          %br
          %br
          %p Bathroom:
          .btn-group.bathrooms
            %button.btn.btn-default{:type => "button", :bathroom => "Private"} Private
            %button.btn.btn-default{:type => "button", :bathroom => "Shared"} Shared

      %li.pager
        %a{:onclick => "history.go(0)", :type => "button"} Reset

.content

  #googleMap{:style => "width:100%;height:300px;"}

  .listings

  -# %ul.pagination
  -#   %li
  -#     %a{:href => "#"} «
  -#   %li
  -#     %a{:href => "/items"} 1
  -#   %li
  -#     %a{:href => "#"} 2
  -#   %li
  -#     %a{:href => "#"} 3
  -#   %li
  -#     %a{:href => "#"} 4
  -#   %li
  -#     %a{:href => "#"} 5
  -#   %li
  -#     %a{:href => "#"} »
