.thumbnail
  %img{:alt => "...", "data-src" => "holder.js/300x300"}
    .caption
      %h3=@item.title
      %p=@item.description
      %p $ #{@item.price.to_i}
      = button_to "Add to Cart", add_item_order_path (@order, item_id: @item.id), class: "btn btn-primary"
