@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// USER PROFILE PAGE
.profile-container {
  width: 400px;
  margin: 30px auto;
}

.profile-photo-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 4px solid black;
  margin: 40px auto 0 auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.profile-photo {
  height: 250px;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
  font-size: 1.6em;
}

.profile-items-title {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.member-since {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

.profile-items {
  text-align: center;
}

// USER EDIT AVATAR
#avatar-form {
  width: 400px;
  margin: 30px auto;
}

.current-avatar {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

// USER DASHBOARD
.admin-dashboard {
  margin: 50px 0;
  padding: 30px;
  border: 4px solid black;
  border-radius: 25px 0 25px;
  -webkit-border-radius: 25px 0 25px;
  -moz-border-radius: 25px 0 25px;
  text-align: center;
}

.admin-title {
  text-align: center;
  font-size: 24px;
}

.admin-section {
  text-align: left;
  margin-left: 65px;
}

.admin-section-title {
  margin-top: 20px;
  font-size: 18px;
  color: #0b0e75;
}

.admin-section-content {

}

// EVERYTHING ELSE
.carousel-caption {
  // text-shadow: 2px 2px #000000;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
  }

.image_small {
  float: right;
  margin-top: 20px;
}

.thumbx {
  margin: 0 10px;
}

.location_title {
  float: left;
  width: 100%;
}

.location_info {
  border: solid;
}

.no-gutter {
  padding: 0;
}

#listing-scrollable-section {
  position: fixed;
  top: 350px;
  bottom: 0;
  right: 0;
  left: 319px;
}

.menu-item-description {
  margin-top: 30px;
}

.center-me {
  text-align: center;
}

#item_quantity {
  width: 26px;
  margin-right: 20px;
}

.order-items {
  text-align: left;
}

.edit-item-button {
  width: 300px;
  margin: 0 auto;
}

.item-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 500px;
}

.scarcity {
  text-decoration: none;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.category-dropdown {
  width: 300px;
  margin-bottom: 20px;
}

.categories-container {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.title-col {
  max-width: 160px;
}

.desc-col {
  max-width: 360px;
}

#errors {
  color: red;
  list-style-type: none;
}

.order-header {
  text-align: center;
}

.order-filters {
  text-align: center;
  margin-bottom: 20px;
}

.order-display {
  text-align: center;
}

.order-info-table {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.order-info-table-div {
  text-align: center;
}

#order-info {
  margin-top: 80px;
}

.order_totals{
  float: right;
  clear: both;
}

.dash-buttons {
  width: 50%;
  margin-top: 20px;
}

/* Carousel base class */
.carousel {
  margin-top: 0px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  margin-top: -200px;
}

#sidebar {
  position: fixed;
  padding: 20px;
  top: 50px;
  bottom: 0px;
  width: 250px;
  background: #f9f9f9;
  overflow-y: scroll;
}

.content {
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 250px;
}

.listings {
  position: absolute;
  padding: 0 60px;
  top: 300px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
}

.pagination {
  float: none;
  display: inline-block;
}

.col-lg-3 {
  float: left;
}

@media (min-width: 990px) and (max-width: 1199px) {
  .col-lg-3 {
    width: 33.333333%;
  }
}

@media (min-width: 767px) and (max-width: 989px) {
  .col-lg-3 {
    width: 50%;
  }
}

@media (max-width: 766px) {
  .col-lg-3 {
    float: none;
    min-width: 380px;
  }
}

// #each_listing {
//   width:100px;
//   height:100px;
//   margin-top: 10px;
//   margin-right:10px;
//   float:left;
// }

// .new-listing {
//   width: 50%;
//   margin: 0 auto;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }
