@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 //USER ON ITEM SHOW PAGE
.user-show-title {
  margin-top: 30px;
  margin-bottom: -21px;
  font-size: 32px;
  font-weight: bold;
}

// ITEM SHOW PAGE
.item-show-title {
  margin-top: 30px;
  margin-bottom: -21px;
  font-size: 32px;
  font-weight: bold;
}

.location-info {
  margin-top: 10px;
  padding: 15px 0 20px 60px;
  background-color: #ede7dd;
}

.user-show-title {
  margin-top: 30px;
  margin-bottom: -21px;
  font-size: 32px;
  font-weight: bold;
}

.user-info {
  margin-top: 10px;
  padding: 15px 0 20px 60px;
  background-color: #ede7dd;
}

.user-column-left {
  width: 25%;
  display: inline-block;
}

.user-column-right {
  width: 65%;
  display: inline-block;
  margin-left: 25px;
}

.item-user-photo {
  width: 100px;
  height: 100px;
  margin-top: -60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: 3px solid #55534f;
}

.right-column-margin {
  margin-top: 60px;
}

.item-section-title {
  color: #9a4400;
  font-size: 24px;
  margin: 30px 0 0 25px;
  font-weight: bold;
}

.image-picker {
  margin: 0 0 0 25px;
  padding: 20px;
  background-color: #fff8ee;
}

.listing-map {
  margin: 0 0 0 25px;
  padding: 20px;
  background-color: #f5efe5;
}

.listing-reviews {
  margin: 0 0 40px 25px;
  padding: 20px;
  background-color: #ede7dd;
}


// USER PROFILE PAGE
.profile-container {
  width: 400px;
  margin: 30px auto;
}

.profile-photo-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 4px solid black;
  margin: 40px auto 0 auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.profile-photo {
  height: 250px;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
  font-size: 1.6em;
}

.profile-items-title {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.member-since {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

.profile-items {
  text-align: center;
}

// USER EDIT AVATAR
#avatar-form {
  width: 400px;
  margin: 30px auto;
}

.current-avatar {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

// USER DASHBOARD
.admin-double-dash {
  padding: 0 20px;
  margin-top: 40px;
  border: 9px solid #2f025c;
  border-radius: 65px 0 75px;
  -webkit-border-radius: 65px 0 75px;
  -moz-border-radius: 65px 0 75px;
}

.admin-dashboard {
  margin: 20px 0;
  padding: 30px;
  background: white;
  border: 10px double #3d0059;
  border-radius: 45px 0 65px;
  -webkit-border-radius: 45px 0 65px;
  -moz-border-radius: 45px 0 65px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.45);
}

.admin-title {
  text-align: center;
  font-size: 26px;
  color: #18022e;
}

.admin-section {
  text-align: left;
  margin-left: 45px;
}

.admin-section-title {
  margin-top: 20px;
  font-size: 18px;
  color: #0b0e75;
}

.admin-section-content {

}

// Item image form photos
.form-image-container {
  padding-top: 20px;
}

// Forms
.form-hints {
  font-weight: 500;
  color: #545454;
}

.listing-form-heading {
  color: #AD4C4C;
}

// EVERYTHING ELSE
// .caption-user-listings {
//   text-align: center;
//   display: block;
//   padding-bottom: 20px;
// }

.user-listings-container {
  text-align: center;
  padding-top: 20px;
  margin: 200px;
}

.create-listing-btn {
  padding-top: 30px;
  width: 320px;
  margin: 0 auto;
}

.edit-listing {
  padding-top: 10px;
}
.carousel-caption {
  // text-shadow: 2px 2px #000000;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
  }

.image_small {
  float: right;
  margin-top: 20px;
}

.thumbx {
  margin: 0 10px;
}


.no-gutter {
  padding: 0;
}

#listing-scrollable-section {
  position: fixed;
  top: 350px;
  bottom: 0;
  right: 0;
  left: 319px;
}

.menu-item-description {
  margin-top: 30px;
}

.center-me {
  text-align: center;
}

#item_quantity {
  width: 26px;
  margin-right: 20px;
}

.order-items {
  text-align: left;
}

.edit-item-button {
  width: 300px;
  margin: 0 auto;
}

.item-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 500px;
}

.scarcity {
  text-decoration: none;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.category-dropdown {
  width: 300px;
  margin-bottom: 20px;
}

.categories-container {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.title-col {
  max-width: 160px;
}

.desc-col {
  max-width: 360px;
}

#errors {
  color: red;
  list-style-type: none;
}

.order-header {
  text-align: center;
}

.order-filters {
  text-align: center;
  margin-bottom: 20px;
}

.order-display {
  text-align: center;
}

.order-info-table {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.order-info-table-div {
  text-align: center;
}

#order-info {
  margin-top: 80px;
}

.order_totals{
  float: right;
  clear: both;
}

.dash-buttons {
  width: 50%;
  margin-top: 20px;
}

/* Carousel base class */
.carousel {
  margin-top: 0px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 350px;
}
.carousel img {
  position: absolute;
  margin-top: -200px;
}

// Listing page

#sidebar {
  position: fixed;
  padding: 0 20px 0 20px;
  top: 50px;
  bottom: 0px;
  width: 250px;
  background: #f1f1f1;
  overflow-y: auto;
}

.content {
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 250px;
}

.listings {
  position: absolute;
  padding: 2px;
  top: 300px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
}

.thumbnail {
  border: 0;
  padding: 2px 2px 0px 2px;
  margin: 1px 0 0 0;
}

.people_per_unit {
  display: inline-block;
  width: 100%;
}

.pagination {
  float: none;
  display: inline-block;
}

.pager {
  margin: 20px 0 0 0
}

.col-lg-3 {
  float: left;
}

@media (min-width: 990px) and (max-width: 1199px) {
  .col-lg-3 {
    width: 33.333333%;
  }
}

@media (min-width: 767px) and (max-width: 989px) {
  .col-lg-3 {
    width: 50%;
  }
}

@media (max-width: 766px) {
  .col-lg-3 {
    float: none;
    min-width: 380px;
  }
}

.denied{
  color: red;
}

.confirmed{
  color: green;
}

// #each_listing {
//   width:100px;
//   height:100px;
//   margin-top: 10px;
//   margin-right:10px;
//   float:left;
// }

/*.new-listing {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px
}*/
